@page
@model Apka_NET.Pages.AddressModel
@{
}
<p>Dane zapisane w sesji</p>
@if (Model.Address != null)
{
    <p>
        @Html.DisplayNameFor(model => Model.Address.Napis):
        @Model.Address.Napis
    </p>
    <p>
        @Html.DisplayNameFor(model => Model.Address.Number):
        @Model.Address.Number
    </p>
    <p>
        @Html.DisplayNameFor(model => Model.Address.SystemTime):
        @Model.Address.SystemTime
    </p>


}