@page
@model Apka_NET.Pages.People.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Address[0].Napis)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address[0].NumberString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address[0].SystemTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Address) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Napis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SystemTime)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
